<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efivestar.wxgw.mapper.cms.NavigatorMapper">
  <resultMap id="BaseResultMap" type="com.efivestar.wxgw.domain.cms.Navigator">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="channelCode" jdbcType="VARCHAR" property="channelcode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="displayOrder" jdbcType="INTEGER" property="displayorder" />
    <result column="navigatorModuleIds" jdbcType="VARCHAR" property="navigatormoduleids" />
    <result column="deleteFlag" jdbcType="BIT" property="deleteflag" />
    <result column="hasChild" jdbcType="BIT" property="haschild" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parentId, channelCode, name, status, description, displayOrder, navigatorModuleIds, 
    deleteFlag, hasChild
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cms_navigator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cms_navigator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.efivestar.wxgw.domain.cms.Navigator">
    insert into t_cms_navigator (id, parentId, channelCode, 
      name, status, description, 
      displayOrder, navigatorModuleIds, deleteFlag, 
      hasChild)
    values (#{id,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{channelcode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{displayorder,jdbcType=INTEGER}, #{navigatormoduleids,jdbcType=VARCHAR}, #{deleteflag,jdbcType=BIT}, 
      #{haschild,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.efivestar.wxgw.domain.cms.Navigator">
    insert into t_cms_navigator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="channelcode != null">
        channelCode,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="displayorder != null">
        displayOrder,
      </if>
      <if test="navigatormoduleids != null">
        navigatorModuleIds,
      </if>
      <if test="deleteflag != null">
        deleteFlag,
      </if>
      <if test="haschild != null">
        hasChild,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="channelcode != null">
        #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="displayorder != null">
        #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="navigatormoduleids != null">
        #{navigatormoduleids,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null">
        #{deleteflag,jdbcType=BIT},
      </if>
      <if test="haschild != null">
        #{haschild,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efivestar.wxgw.domain.cms.Navigator">
    update t_cms_navigator
    <set>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="channelcode != null">
        channelCode = #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="displayorder != null">
        displayOrder = #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="navigatormoduleids != null">
        navigatorModuleIds = #{navigatormoduleids,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null">
        deleteFlag = #{deleteflag,jdbcType=BIT},
      </if>
      <if test="haschild != null">
        hasChild = #{haschild,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efivestar.wxgw.domain.cms.Navigator">
    update t_cms_navigator
    set parentId = #{parentid,jdbcType=INTEGER},
      channelCode = #{channelcode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      displayOrder = #{displayorder,jdbcType=INTEGER},
      navigatorModuleIds = #{navigatormoduleids,jdbcType=VARCHAR},
      deleteFlag = #{deleteflag,jdbcType=BIT},
      hasChild = #{haschild,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>